Repository freeCodeCamp-2025-Summer-Hackathon/pink-protocol, pull requests merged in 2025-07, with the labels that each got.

#2 creates templates for features, bugs, and PRs
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#9 bugfix(templates): fix bug in bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: bug, documentation

#43 [UI] Sign Up Page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Layout.jsx
  frontend/src/logo/Logo.png
  frontend/src/pages/SignUp.jsx
Labels: enhancement, frontend

#36 added README with installation and running instructions, update images in compose.yaml
  README.md
  compose.yaml
Labels: documentation

#53 feat(auth/signup): modularize signup feature and wire to backend
  backend/app/main.py
  frontend/src/App.jsx
  frontend/src/SignUp.jsx
  frontend/src/_lib/apiClient.js
  frontend/src/auth/SignUp/components/PromoPanel.jsx
  frontend/src/auth/SignUp/components/SignUpForm.jsx
  frontend/src/auth/SignUp/hooks/useSignUp.js
  frontend/src/auth/SignUp/page.jsx
  frontend/src/auth/SignUp/services/signUpUser.js
  frontend/src/auth/SignUp/validation/schemas.js
  frontend/src/features/dashboard/page.jsx
Labels: enhancement, frontend

#67 feat: add upload flow
  frontend/src/features/upload/components/UploadForm.jsx
  frontend/src/features/upload/components/UploadModal.jsx
  frontend/src/features/upload/hooks/useUpload.js
  frontend/src/features/upload/services/createPost.js
  frontend/src/layout/Layout.jsx
  frontend/src/sidebar/Sidebar.jsx
  frontend/src/ui/Modal/Modal.jsx
Labels: enhancement, frontend

#66 feat(frontend): add post detail page and routing
  frontend/src/App.jsx
  frontend/src/features/dashboard/components/ArtCard.jsx
  frontend/src/features/dashboard/components/ArtCardSkeleton.jsx
  frontend/src/features/dashboard/components/GalleryGrid.jsx
  frontend/src/features/dashboard/page.jsx
  frontend/src/features/post/components/PostDetail.jsx
  frontend/src/features/post/hooks/usePost.js
  frontend/src/features/post/page.jsx
  frontend/src/features/post/services/fetchPost.js
  frontend/src/features/post/services/fetchUser.js
  frontend/src/features/upload/components/UploadForm.jsx
  frontend/src/features/upload/components/UploadModal.jsx
  frontend/src/features/upload/hooks/useUpload.js
  frontend/src/features/upload/services/createPost.js
  frontend/src/layout/Layout.jsx
  frontend/src/sidebar/Sidebar.jsx
  frontend/src/ui/Modal/Modal.jsx
Labels: enhancement, frontend

#65 feat(dashboard): integrate dashboard with backend and enhance layout
  frontend/src/App.jsx
  frontend/src/features/dashboard/ArtCard.jsx
  frontend/src/features/dashboard/ArtCardSkeleton.jsx
  frontend/src/features/dashboard/GalleryGrid.jsx
  frontend/src/features/dashboard/components/ArtCard.jsx
  frontend/src/features/dashboard/components/ArtCardSkeleton.jsx
  frontend/src/features/dashboard/components/GalleryGrid.jsx
  frontend/src/features/dashboard/hooks/useGallery.js
  frontend/src/features/dashboard/hooks/useInfiniteScroll.js
  frontend/src/features/dashboard/mock.js
  frontend/src/features/dashboard/page.jsx
  frontend/src/features/dashboard/services/fetchPosts.js
  frontend/src/features/post/components/PostDetail.jsx
  frontend/src/features/post/hooks/usePost.js
  frontend/src/features/post/page.jsx
  frontend/src/features/post/services/fetchPost.js
  frontend/src/features/post/services/fetchUser.js
  frontend/src/features/upload/components/UploadForm.jsx
  frontend/src/features/upload/components/UploadModal.jsx
  frontend/src/features/upload/hooks/useUpload.js
  frontend/src/features/upload/services/createPost.js
  frontend/src/layout/Layout.jsx
  frontend/src/sidebar/Sidebar.jsx
  frontend/src/ui/Modal/Modal.jsx
Labels: enhancement, frontend

#64 Cmolloy36/feat/add collection functionality
  backend/app/crud_collections.py
  backend/app/crud_posts.py
  backend/app/helper_functions.py
  backend/app/main.py
  backend/app/routers/collection.py
  backend/app/schemas.py
Labels: enhancement, backend

#69 Devloggith/feat/backend seed
  backend/CONTRIBUTING.md
  backend/scripts/__init__.py
  backend/scripts/seed.py
  compose.yaml
Labels: enhancement, backend

#71 [Feat] Dockerization of Frontend
  compose.yaml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_lib/apiClient.js
  frontend/src/features/dashboard/hooks/useGallery.js
  frontend/src/features/dashboard/services/fetchPosts.js
Labels: enhancement, frontend, chore
